/* Content */
@media (max-width: 675px) {
    .content-container {
        flex-direction: column;
        top: 5vmin;
    }
}

/* Content on the Left */

.left-content {
    display: inline-block;
    position: relative;
    left: 5%;
    width: 45%;
    min-width: 250px;
    padding: 3vmin;
    text-align: justify;
}

@media (max-width: 675px) {
    .left-content {
        left: 0;
        width: 90%;
    }
}

.profile-photo {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    width: 60%;
    min-width: 200px;
}

.profile-photo img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
}

.about-me {
    color: grey;
    font-size: 0.85rem;
    letter-spacing: 0.08rem;
}

#contact-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

/* Content on the Right */

.right-content {
    position: relative;
    display: inline-block;
    left: 5%;
    width: 45%;
    min-width: 250px;
    padding: 3vmin;
}

.progress {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    height: 30px;
    width: 450px;
    margin: 1rem 0;
}

.progress-done {
    background: #000000;
    box-shadow: 0 5px 5px -5px rgb(210, 210, 210), 0 2px 5px rgb(210, 210, 210);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 100%;
    width: 0;
    color: white;
    transition: all 3s ease 0.3s;
}

/* @media (max-width: 675px) {
    .right-content {
        left: 0;
        width: 90%;
        margin-bottom: 1.5em;
    }
}

.skillsBox {
    position: relative;
    width: 100%;
}

.skills {
    position: relative;
    width: 100%;
    margin-bottom: 1.2em;
}

.skills p {
    position: relative;
    top: -5vmin;
    margin: 0 auto;
    padding: 0;
    font-size: 0.7rem;
    color: black;
    font-weight: bold;
}

@media (max-width: 675px) {
    .skills p {
        top: -5vmax;
    }
}

.progress {
    width: 100%;
    background-color: white;
    line-height: 1em;
    overflow: hidden;
}

.progress .percent {
    text-align: right;
    font-size: 0.6rem;
    font-weight: bold;
    -webkit-text-fill-color: black;
    padding-right: 1em;
    animation: animate 2s linear infinite;
    background: linear-gradient(45deg, rgb(0, 0, 0, 0.35) 25%, transparent 25%, transparent 50%, rgb(0, 0, 0, 0.35) 50%,
    rgb(0, 0, 0, 0.35) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 0;
    }
} */

/* Jumbotron */

@keyframes text-fade-out {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

#jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
    font-size: 3rem;
    animation: fade-out 2s 3s ease-out forwards;
}

#jumbotron p {
    animation: text-fade-out 3s ease-in-out forwards;
}
