* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: monospace, Verdana, Geneva, sans-serif;
    user-select: none;
}

/* Logo */

.logo {
    display: inline-block;
    position: fixed;
    top: 3%;
    left: 3%;
    max-width: 15%;
    height: auto;
    z-index: 1;
}

.logo img {
    max-width: 25%;
    min-width: 50px;
    height: auto;
}

/* Navigation */

.navigation-panel {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    height: 80px;
    background-color: white;
    overflow: hidden;
    z-index: 2;
}

.navigation-menu {
    float: right;
    left: 60%;
}

.navigation-menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0.3em;
}

.navigation-menu li {
    margin: 0 0.7em;
}

.navigation-menu a {
    text-decoration: none;
    color: black;
    padding: 0.7em;
    font-size: 1.05rem;
}

.navigation-menu a:hover {
    background-color: black;
    color: white;
    transition: color 0.2s, background-color 1.5s;
}

.navigation-menu a.active {
    background-color: black;
    color: white;
}

.navigation-pop-up {
    position: absolute;
    right: 3%;
}

label.navigation-pop-up  {
    font-size: 2.2em;
    display: none;
}

#toggle {
    display: none;
}

@media (max-width: 675px) {

    label.navigation-pop-up{
        display: block;
        cursor: pointer;
        z-index: 1;
    }

    .navigation-menu {
        position: relative;
        left: 2.5%;
        width: 100%;
        margin-top: 3.5rem;
        display: none;
    }

    .navigation-menu a {
        font-size: 1.1rem;
    }

    .navigation-menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .navigation-menu li:first-child {
        margin: 0 0 1rem 0;
    }

    .navigation-menu li:not(:first-child):not(:last-child)  {
        margin: 1rem 0 1rem 0;
    }

    .navigation-menu li:last-child {
        margin: 1rem 0 0 0;
    }

    #toggle:checked + .navigation-menu {
        display: block;
    }
}

/* Content */

.content-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 80px auto 0;
    width: 100%;
    max-width: 1600px;
    /* border: solid green 3px; */
}

@media (max-width: 675px) {
    .content-container {
        flex-direction: column;
        top: 5vmin;
    }
}

/* Content on the Left */

.left-content {
    display: inline-block;
    position: relative;
    left: 5%;
    width: 45%;
    min-width: 250px;
    padding: 3vmin;
    text-align: justify;
    /* border: solid rgb(196, 6, 101) 1px; */
}

@media (max-width: 675px) {
    .left-content {
        left: 0;
        width: 90%;
    }
}

.profile-photo {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    width: 60%;
    min-width: 200px;
}

.profile-photo img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
}

.about-me {
    color: grey;
    font-size: 0.85rem;
    letter-spacing: 0.08rem;
}

#contact-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

/* Content on the Right */

.right-content {
    position: relative;
    display: inline-block;
    left: 5%;
    width: 45%;
    min-width: 250px;
    padding: 3vmin;
    /* border: solid rgb(38, 5, 99) 1px; */
}

@media (max-width: 675px) {
    .right-content {
        left: 0;
        width: 90%;
        margin-bottom: 1.5em;
    }
}

.skillsBox {
    position: relative;
    width: 100%;
    /* margin-top: 3.5em; */
}

.skills {
    position: relative;
    width: 100%;
    margin-bottom: 1.2em;
}

.skills p {
    position: relative;
    top: -5vmin;
    margin: 0 auto;
    padding: 0;
    font-size: 0.7rem;
    color: black;
    font-weight: bold;
}

@media (max-width: 675px) {
    .skills p {
        top: -5vmax;
    }
}

.progress {
    width: 100%;
    background-color: white;
    line-height: 1em;
    overflow: hidden;
}

.progress .percent {
    text-align: right;
    font-size: 0.6rem;
    font-weight: bold;
    /* -webkit-text-stroke: 1px black; */
    -webkit-text-fill-color: black;
    padding-right: 1em;
    /* border-right: 2px solid black; */
    animation: animate 2s linear infinite;
    background: linear-gradient(45deg, rgb(0, 0, 0, 0.35) 25%, transparent 25%, transparent 50%, rgb(0, 0, 0, 0.35) 50%,
    rgb(0, 0, 0, 0.35) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 0;
    }
}

/* Jumbotron */

@keyframes text-fade-out {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

#jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
    font-size: 3rem;
    animation: fade-out 2s 3s ease-out forwards;
}

#jumbotron p {
    animation: text-fade-out 3s ease-in-out forwards;
}


/* Layout */
.main-container {
    position: relative;
    min-height: 100vh;
}

.page-wrap {
    padding-bottom: 2rem;
}


/* Footer */

#footer {
    position: absolute;
    bottom: 0;
    height: 2rem;
    padding: 0.5rem
}

.copyright {
    display: block;
    font-size: 0.7rem;
}
