/* Content */

.content {
    flex-direction: column;
    align-items: center;
    top: 15vmin;
}

@media (max-width: 675px) {
    .content {
        top: 30vmin;
        font-size: 1.2rem;

    }
}

@media (orientation: landscape) and (max-width: 675px) {
    .content {
        top: 3vmin;
        font-size: 1.2rem;

    }
}

#email {
    text-decoration: none;
    color: black;
}

#email:visited {
    color: black;
}

/* Social Media */

.social-media {
    position: relative;
    top: 3vmin;
}

.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media-list li {
    display: inline-block;
}

.social-media-list img {
    padding: 0.25em;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.social-media-list img:hover {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 675px) {
    .social-media {
        top: 10vh;
    }
    .social-media-list img {
        width: 75px;
        height: 75px;

    }
}

@media (orientation: landscape) and (max-width: 675px) {
    .social-media {
        top: 0;
    }
    .social-media-list img {
        width: 60px;
        height: 60px;

    }
}